*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Nunito',Arial, sans-serif;
}
:root{
  background: #091008;
}
main{
  display: none;
  position: relative;
	animation: pageBodyAnimate 2s;
}
.preload{
  z-index: 1;
  width: 120px;
  height: 120px;
  border-top: 16px solid #0492C2;
  border-right: 16px solid #138750;
  border-bottom: 16px solid red;
  border-left: 16px solid #FFC82D;
  border-radius: 50%;
	margin: 10% auto;
	animation: preloader 2s linear infinite;
}
@keyframes preloader{
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(500deg);
	}
}
@keyframes pageBodyAnimate { 
  from{ bottom:-50px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
div.logo{
  padding: 20px 0px 20px 0px;
  text-align: center;
}
img{
  width: 30%;
}
h1#caption{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5em;
}
div#dailyRecordCon{
  height: auto;
  width: 60%;
  background: #111810;
  border-radius: 15px;
  box-shadow: 1px 1px 4px #000;
  margin: 20px auto;
  padding: 20px 0px;
}
div#date{
  color: #fff;
  text-align: center;
  padding: 10px 0px;
  font-size: 2em;
}
div#confirmedCaseCon{
  padding: 20px 60px;
}
div#firstGridCon,div#secondGridCon{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 30px;
  color: #fff;
}
div.info-sample{
  background: #9F9A73;
}
span.sampCaption{
  text-align: left;
  padding: 20px 5px;
}
span.sampRecord,span.confirmedRecord,span.activeRecord,span.dischargedRecord{
  padding: 20px 0px;
  text-align: right;
  font-weight: bolder;
  visibility: hidden;
}
div.info-confirm{
  background: #0492C2;
}
div.info{
  font-size: 1.4em;
  padding: 10px 8px;
  text-transform: uppercase;
  margin-top: 30px;
  border-radius: 10px;
  font-weight: bolder;
  text-align: center;
  display: grid;
  grid-template-columns: 70% 20%;
}
div.info-active{
  background: #FFC82D;
  color: #000 !important;
}
div.info-discharged{
  background: #138750;
}
span.deathsRecord{
  padding: 20px 0px 2px 0px !important;
}
div.info-death{
  background: #C60001;
  color: #fff !important;
}
div#inputHolder{
  width: 80%;
  background: #fff;
  margin: 0px auto;
  padding: 20px 0px 2px 0px;
  visibility: hidden;
}
section div.tableCon{
  margin: 0px auto;
  width: 80%;
  background: #fff;
  padding-top: 10px;
  visibility: hidden;
}
input#searchInput{
  background-image: url(../imgs/search.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 30%;
  font-size: 1.6em;
  padding: 2px 0px 2px 33px;
  margin: 0px 0px 10px 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #000;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table,th,td{
  border: 1px solid #000;
  width: 100%;
}
th:nth-child(1),td:nth-child(1){
  width: 2%;
}
th{
  padding: 0.4em 0.2em;
  text-align: left;
  font-size: 1.6em;
  width: 5%;
  font-weight: bolder;
}
td{
  padding: 0.4em 0.3em;
  font-size: 1.6em;
  width: 5%;
}
footer{
  padding: 20px 0px;
}
footer > div{
  text-align: center;
  color: #fff;
}
a#socialHandle{
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width:299px) and (min-width: 200px){
  img{
    width: 80%;
  }
  div.logo{
    padding: 20px 0px 20px 0px;
    text-align: center;
  }
  div#dailyRecordCon{
    height: auto;
    width: 100%;
    border-radius: 0px;
  }
  div#confirmedCaseCon{
    padding: 20px 25px;
  }
  div#date{
    font-size: 1.7em;
  }
  div#firstGridCon,div#secondGridCon{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  div.info{
    font-size: 1em;
  }
  span.deathsRecord{
    padding: 20px 0px 2px 0px !important;
  }
  div#activeCaption,div#dischargedCaption,div#totalDeathCaption{
    display: flex;
    justify-content: space-around;
    font-size: 1em;
  }
  div#inputHolder{
    width: 100%;
  }
  section div.tableCon{
    width: 100%;
    overflow-x: auto;
  }
  table{
    font-size: 0.6em;
  }
  th,td{
    padding: 0.3em 0.6em;
  }
  input#searchInput{
    width: 90%;
    font-size: 1em;
    padding: 2px 0px 0px 38px;
  }
  div#container {
    height: 500px;
    min-width: 80%;
  }
}

@media screen and (max-width:500px) and (min-width: 300px){
  img{
    width: 80%;
  }
  div#dailyRecordCon{
    height: auto;
    width: 100%;
    border-radius: 0px;
  }
  div#confirmedCaseCon{
    padding: 20px 20px;
  }
  div#firstGridCon,div#secondGridCon{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  div#inputHolder{
    width: 100%;
  }
  section div.tableCon{
    width: 100%;
    overflow-x: auto;
  }
  table{
    font-size: 0.6em;
  }
  th,td{
    padding: 0.3em 0.6em;
  }
  input#searchInput{
    width: 80%;
    font-size: 1em;
  }
  div#totalDeathCaption{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  span.deathsRecord{
    padding: 20px 0px 2px 0px !important;
  }
  .preload{
    margin: 60% auto;
  }
  #googleMap{
    height: 300px; 
    width: 100%;
  }
  #map {
    height: 100%;
  }
}
@media screen and (max-width:800px) and (min-width: 501px){
  img{
    width: 80%;
  }
  div#dailyRecordCon{
    height: auto;
    width: 100%;
    border-radius: 0px;
  }
  div#confirmedCaseCon{
    padding: 20px 40px;
  }
  div#firstGridCon,div#secondGridCon{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  span.deathsRecord{
    padding: 20px 0px 2px 0px !important;
  }
  div#inputHolder{
    width: 95%;
  }
  section div.tableCon{
    width: 95%;
    overflow-x: auto;
  }
  table{
    font-size: 1.2em;
  }
  th,td{
    padding: 0.3em 0.6em;
  }
  footer > div{
    font-size: 1.5em;
  }
  input#searchInput{
    width: 85%;
    height: 60px;
    font-size: 2em;
    padding: 2px 0px 0px 45px;
  }
  .preload{
    margin: 50% auto;
  }
}
@media screen and (max-width:1300px) and (min-width: 801px){
  div#inputHolder{
    width: 95%;
  }
  section div.tableCon{
    width: 95%;
    overflow-x: auto;
  }
  table{
    font-size: 1.4em;
  }
  th,td{
    padding: 0.3em 0.6em;
  }
  footer > div{
    font-size: 1.5em;
  }
  input#searchInput{
    width: 45%;
    height: 60px;
    font-size: 2em;
    padding: 2px 0px 0px 45px;
  }
}

/* about map found in the web page */
div#container {
  height: 500px;
  max-width: 800px;
  margin: 30px auto;
}
.loading {
  margin-top: 10em;
  text-align: center;
}
#googleMap{
  /* height: 1000px; */
  padding: 10px 0px;
  width: 60%;
  margin: 0px auto;
}
#map {
  height: 50%;
}
#openStreetMap{
  display: flex;
  justify-content: center;
}